# Server
PORT=3000
NODE_ENV=development

# Frontend URL
CLIENT_URL=http://localhost:5173

# Database
# Lokaliai, kai backend paleistas su npm run dev, o PostgreSQL sukasi Docker konteineryje:
DB_HOST=localhost
DB_PORT=5433

# Kai backend paleistas Docker konteineryje,
# docker-compose.yml perrašys DB_HOST į postgres ir DB_PORT į 5432.
DB_NAME=places_app
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=change_this_secret_key_for_real_project
JWT_EXPIRES_IN=7d

# Cookie
COOKIE_EXPIRES_IN_DAYS=7