PORT=3000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

# Kai backend paleistas lokaliai su npm run dev,
# o DB sukasi Docker konteineryje, naudoji localhost:5433.
# Kai backend paleistas Docker konteineryje,
# docker-compose.yml perrašys DB_HOST į postgres ir DB_PORT į 5432.
DB_HOST=localhost
DB_PORT=5433
DB_NAME=places_app
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=super_secret_places_app_jwt_key
JWT_EXPIRES_IN=7d

COOKIE_EXPIRES_IN_DAYS=7